extends layouts/base
block content
  main.main.main-single  
    section.single-page
      if media.Error
        h4.single.Folder
        p.media-error= media.Error
      else
        div.single-info
          h4.single-title.notranslate(translate="no")= media.Title
          p.label.time Time
          p.data.time= media.Runtime
          p.label.year Year
          p.data.year= media.Year
          button.play-button.notranslate(translate="no") Play
          p.label.rating Rating
          p.data.rating= media.imdbRating +' / 10'
          if media.Awards != 'N/A'
            p.label.awards Awards
            p.data.awards= media.Awards
          if media.Type == 'series'
            p.label.season Seasons
            p.data.season= media.totalSeasons
          if media.Director != 'N/A'
            p.label.director Director 
            p.data.director= media.Director
          if media.Actores != 'N/A'
            p.label.actores Actors 
            p.data.actores= media.Actors
          p.label.synopse Synopse
          p.data.synopse= media.Plot
        div.single-poster
          img(src=media.Poster, alt="Poster")