extends layouts/base

block content
  each genre in genres
    section.shelf
      h3.shelf-name= genre
        each media in medias
          if media.Genre == genre
            div.shelf-item
              if media.Error
                h4.media.Folder
                a(href= `${activeRoute}/${media.Folder}`)
                  p.media-error= media.Error
              else
                a(href= `${activeRoute}/${media.Folder}`)
                  img(src= media.Poster, alt="Poster")