extends layouts/base
block content
    section.single
      if media.Error
        h4.single.Folder
        a(href= `${activeRoute}/${media.Folder}`)
          p.media-error= media.Error
      else
        h4.single-title=  media.Title
        if media.Director != 'N/A'
          p.single-director
            span.single-director-label Director &nbsp;
            span.single-director-name= media.Director
        p.single-plot= media.Plot
          img(src=media.Poster, alt="Poster")